*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.167em;
  letter-spacing: .05ch;
  overflow-y: scroll;
  padding: 60px 10px 10px 10px;
  overflow-x: hidden;
  background-color: #ffffff;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.167em;
  letter-spacing: .05ch;
  padding: 2px 0 2px 0;
  margin: 0;
}

p {
  padding: 10px 0 10px 0;
  margin: 0;
  text-align: justify;
}

hr {
  border: 0.5px solid #222222;
  margin: 8px 0 0 0;
}

header {
  padding: 10px 10px 0 10px ;
  background-color: #ffffff;
}

.project-card {
  padding: 0.5px;
}

.project-card img {
  width: 100%;
}

/*
.hover-card:hover {
  opacity: 80%;
}
*/

.project-title {
  padding: 0;
  box-shadow: none !important;
}

.project-title a:hover {
  color: #ff2e2e;
  text-decoration: none;
}

.card-header {
  padding: 0;
  background-color: #ffffff;
  border: none;
}

.btn{
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: .05ch;
  text-align: left;
}

.card {
  padding: 0 0 10px 0;
  border: none;
}

.card-body {
  padding: 0;
  border: none;
}

.custom-img {
  max-height: 75vh;
  width: auto;
  display: block;
  margin: 0 auto;
}

a {
  color: #222222;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.167em;
  letter-spacing: .05ch;
}

a:hover {
  color: #ff2e2e;
  text-decoration: none;
}

a:active {
  color: #ff2e2e;
  text-decoration: none;
}

.project-description {
  padding: 4px 0 0 0;
}

.active-page {
  color: #222222;
}

.welcome-to-the-shop {
  padding-top: 0;
}

/* Styles for mobile devices */
@media (max-width: 600px) {
  a:hover {
    color: #222222;
    text-decoration: none;
  }
  
  a:active {
    color: #222222;
    text-decoration: none;
  }

  .project-title:active {
    color: #222222;
  }
}