*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0 auto;
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 13.5px;
  line-height: 1.25em;
  letter-spacing: .05ch;
  overflow-y: scroll;
  padding: 47px 10px 10px 10px;
  overflow-x: hidden;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 13.5px;
  line-height: 1.25em;
  letter-spacing: .05ch;
  padding: 2px 0 2px 0;
  margin: 0;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 13.5px;
  line-height: 1.25em;
  letter-spacing: .05ch;
  padding: 2px 0 2px 0;
  margin: 0;
}

p {
  padding: 10px 0 10px 0;
  margin: 0;
  text-align: left;
}

hr {
  border: 0.5px solid #222222;
  margin: 8px 0 0 0;
}

header {
  padding: 10px 10px 0 10px ;
  background-color: #ffffff;
}

.workplay {
  color: #000000;
}

.workplay:hover {
  color: #bebebe;
  text-decoration: none;
}

a {
  color: #000000;
}

a:hover {
  color: #bebebe;
  text-decoration: none;
}

.project-card {
  display: flex;
  justify-content: center;
  margin: 0 auto 24px ;
}

.project-card h1 {
  text-align: center;
}

.project-card img {
  max-width: 100%;
}

.project-card a {
color:#bebebe;
}

.project-card a:hover {
  color:#000000;
  text-decoration: none;
  }

.project-title {
  padding: 0;
  box-shadow: none !important;

}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.project-title a:hover {
  color: #bebebe;
  text-decoration: none;
}

.card-header {
  padding: 0;
  background-color: #ffffff;
  border: none;
}

.btn{
  font-family: Arial, sans-serif;
  font-size: 13.5px;
  letter-spacing: .05ch;
  text-align: left;
}

.card {
  padding: 0 0 10px 0;
  border: none;
}

.card-body {
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.card-body .row {
  padding: 0;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.card-body div {
  padding: 0;
}

.custom-img {
  max-height: 75vh;
  width: auto;
  display: block;
  margin: 0 auto;
}




a:active {
  color: #222222;
  text-decoration: none;
}

.project-description {
  padding: 4px 0 0 0;
}

.active-page {
  color: #222222;
}


/* Language */
#enLink.active,
#frLink.active {
    color: #000000;
}

/* Language */
#enLink,
#frLink {
    color: #bebebe;
}

/* Default to hide mobile link */
.mobile-link {
  display: none;
}

/* Media query to show mobile link and hide desktop link on screens less than 768px wide (adjust breakpoint as needed) */
@media (max-width: 767px) {
  .desktop-link {
      display: none;
  }
  .mobile-link {
      display: block;
  }
}


/* Styles for mobile devices */
@media (max-width: 600px) {
  

  a:hover {
    color: #222222;
    text-decoration: none;
  }
  
  a:active {
    color: #222222;
    text-decoration: none;
  }

  .project-title:active {
    color: #222222;
  }

  .portrait-mobile {
    padding: 0 60px 0 60px;
  }
}

.footer {
  background-color: #ffffff;
  margin-top: auto;
}

.footer ul {
  margin: 0;
  padding-top: 10px;
  list-style-type: none;
}

.footer ul li {
  display: inline;
}

#enLink {
  margin-right: 15px;
}